<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">      

    <title>Predicciones</title>
</head>
<body style="background-image: url('../static/fotos/fondo4.jpg');">
    <nav>
        <ul>
            <h1>Game Of The Year</h1>
            <li><a href="http://127.0.0.1:8000">Inicio</a></li>
            <li><a href="http://127.0.0.1:8000/antiguosaños">Antiguos años</a></li>
            <li><a href="http://127.0.0.1:8000/predicciones">Predicciones</a></li>
            <li><a href="http://127.0.0.1:8000/desarrollador">Desarrollador</a></li>
            <li><a href="http://127.0.0.1:8000/empresas">Empresa</a></li>
        </ul>
    </nav>
    <br><br><br><br><br>

    
<br><br><br>
<div >
    <h1>Mark Darrah : Dragon Age Inquisition 2014</h1>
    <img src="../static/fotos/mark.png" alt="mark" width="300px" height="400px" display = "none">
    <img src="../static/fotos/dragon age.jpg" alt="dragon age" width="500px" height="400px" display = "none" >
</div>   

<div >
    <h1>Marcin Iwiński : The Wither 3 : Wild Hunt 2015  </h1>
    <img src="../static/fotos/Marcin_Iwiński.jpg" alt="mark" width="300px" height="400px" display = "none">
    <img src="../static/fotos/wither.webp" alt="dragon age" width="500px" height="400px" display = "none" >
</div>   

<div >
    <h1>Blizzard Entertainment : Overwatch 2016</h1>
    <img src="../static/fotos/blizz.avif" alt="mark" width="300px" height="400px" display = "none">
    <img src="../static/fotos/overw.webp" alt="dragon age" width="500px" height="400px" display = "none" >
</div>   

<div >
    <h1>Eiji Aonuma y Hidemaro Fujibayashi  : The Legend of Zelda: Breath of the Wild 2017 </h1>
    <img src="../static/fotos/hidemaro.jpg" alt="mark" width="300px" height="400px" display = "none">
    <img src="../static/fotos/zelda.jpg" alt="dragon age" width="500px" height="400px" display = "none" >
    <img src="../static/fotos/eiji.png" alt="mark" width="300px" height="400px" display = "none">
</div>   

<div >
    <h1>God of War 2018 : Cory Barlog</h1>
    <img src="../static/fotos/cory.jpg" alt="mark" width="300px" height="400px" display = "none">
    <img src="../static/fotos/2018.avif" alt="dragon age" width="500px" height="400px" display = "none" >
</div>

<div >
    <h1>Sekiro : Shadows Die Twice 2019 : Hidetaka Miyazaki</h1>
    <img src="../static/fotos/HIDETAKA.png" alt="mark" width="300px" height="400px" display = "none">
    <img src="../static/fotos/2019.jpeg" alt="dragon age" width="500px" height="400px" display = "none" >
</div>

<div >
    <h1>The last of Us Part II : Neil Druckmann</h1>
    <img src="../static/fotos/NEIL.jpg" alt="mark" width="300px" height="400px" display = "none">
    <img src="../static/fotos/2020.jpg" alt="dragon age" width="500px" height="400px" display = "none" >
</div>

<div >
    <h1>It Takes Two 2021 : Josef Fares </h1>
    <img src="../static/fotos/josef.jpg" alt="mark" width="300px" height="400px" display = "none">
    <img src="../static/fotos/2021.jpg" alt="dragon age" width="500px" height="400px" display = "none" >
</div>

<div >
    <h1>Elden ring 2022 : Hidetaka Miyazaki</h1>
    <img src="../static/fotos/HIDETAKA.png" alt="mark" width="300px" height="400px" display = "none">
    <img src="../static/fotos/2022.avif" alt="dragon age" width="500px" height="400px" display = "none" >
</div>

<div >
    <h1>Baldur's Gate 3 2023: Swen Vincke</h1>
    <img src="../static/fotos/SWIN.png" alt="mark" width="300px" height="400px" display = "none">
    <img src="../static/fotos/2023.avif" alt="dragon age" width="500px" height="400px" display = "none" >
</div>  

<div >
    <h1>astrobot 2024 : Team Asobi</h1>
    <img src="../static/fotos/asobi.jpg" alt="mark" width="300px" height="400px" display = "none">
    <img src="../static/fotos/astrobot2.avif" alt="dragon age" width="500px" height="400px" display = "none" >
</div> 





</body>
</html>