<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">      

    <title>Empresas</title>
</head>
<body style="background-image: url('../static/fotos/fondo4.jpg');">
    <nav>
        <ul>
            <h1>Game Of The Year</h1>
            <li><a href="http://127.0.0.1:8000">Inicio</a></li>
            <li><a href="http://127.0.0.1:8000/antiguosaños">Antiguos años</a></li>
            <li><a href="http://127.0.0.1:8000/predicciones">Predicciones</a></li>
            <li><a href="http://127.0.0.1:8000/desarrollador">Desarrollador</a></li>
            <li><a href="http://127.0.0.1:8000/empresas">Empresa</a></li>
            <li><a href="http://127.0.0.1:8000/juegos">Juegos</a></li>
        </ul>
    </nav>
    <br><br><br><br><br>

    
<br><br><br>

<div display = none>
    <img src="../static/fotos/nintendo.webp" alt="nintendo" width="300px" height="200px" display = "none">
    <img src="../static/fotos/konami.jpg" alt="konami" width="300px" height="200px" display = "none">
    <img src="../static/fotos/ubi.avif" alt="ubisoft" width="300px" height="200px" display = "none">
    <img src="../static/fotos/asobi.jpg" alt="nintendo" width="300px" height="200px" display = "none">
    <img src="../static/fotos/bandai.png" alt="nintendo" width="300px" height="200px" display = "none">
    <img src="../static/fotos/cdp.jpg" alt="nintendo" width="300px" height="200px" display = "none">
    <img src="../static/fotos/ea.png" alt="nintendo" width="300px" height="200px" display = "none">
    <img src="../static/fotos/ps.webp" alt="nintendo" width="300px" height="200px" display = "none">


</div>
</body>
</html>