<!DOCTYPE html>
<html lang="en">
<head>  
    <meta charset="UTF-8">
    <title>Games</title>

</head>
<body style="background-color: rgb(32, 148, 92)">
    <h1 style="text-align: center;">Games</h1>
    {% if juegos %}
        <ul>
        {% for juego in juegos %}
            <li>{{ juego.nombre }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No hay juegos disponibles.</p>
    {% endif %}

    <h1>Añadir juego</h1>


    <form action="{{ url_for('add_juego') }}" method="post">
         <input type="text" name="nombre" placeholder="Nombre" required>
         <button type="submit">Añadir Juego</button>
    </form>

    <h1>Elimina juego</h1>
        <form action="{{ url_for('del_juego') }}" method="post">
            <select  name="juego_id">
                {% for juego in juegos %}  

                    <option value="{{juego.id}}">{{juego.nombre}}</option>

                {% endfor%}

        </select>
        
        <input type="submit" value="Borrar"> 
   </form>
</body>
</html>