<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">      

    <title>Predicciones</title>
</head>
<body style="background-image: url('../static/fotos/fondo4.jpg');">
    <nav>
        <ul>
            <h1>Game Of The Year</h1>
            <li><a href="http://127.0.0.1:8000">Inicio</a></li>
            <li><a href="http://127.0.0.1:8000/antiguosaños">Antiguos años</a></li>
            <li><a href="http://127.0.0.1:8000/predicciones">Predicciones</a></li>
            <li><a href="http://127.0.0.1:8000/desarrollador">Desarrollador</a></li>
            <li><a href="http://127.0.0.1:8000/empresas">Empresa</a></li>
        </ul>
    </nav>
    <br><br><br><br><br>

    
<br><br><br>
<div display="flex" style="text-align: center; margin-top: 20px;" >
    <img src="../static/fotos/gta6.jpg" alt="gta6" width="400px" height="250px">
    <h1>Grand Theft Auto VI </h1>
</div>   

<div display="flex" style="text-align: center; margin-top: 20px;" >
    <img src="../static/fotos/pokemon zaz.webp" alt="gta6" width="400px" height="250px">
    <h1>Pokémon Z&A </h1>
</div>

<div display="flex" style="text-align: center; margin-top: 20px;" >
    <img src="../static/fotos/phantom.webp" alt="gta6" width="400px" height="250px">
    <h1>Phantom  Blade Zero</h1>
</div>

</body>
</html>